// .bonsai {
    /* Defaults */
    body {
        font-family: Calibri, sans-serif;
    }

    #bonsai-main {
        float:left;
    }

    #bonsai-sidebar {
        float: right;
        width: 280px;
    }

    form.new_uploaded_file input[type="submit"] {
       position: absolute;
       left: -1000px;
    }


    .more.trigger .more {
        display: none;
    }

    /* Layout */
    #toolbar {
        -webkit-box-shadow: rgba(0, 0, 0, 0.199219) 0px 1px 1px;
        background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#FCFCFC), to(#E8E8E8));
        background: -moz-linear-gradient(270deg, #FCFCFC, #ECECEC) repeat scroll 0 0 transparent;
        border-radius: 5px;
        border: 1px solid whiteSmoke;
        padding: 8px;
        margin-bottom: 20px;
        overflow: hidden;

        text-shadow: white 1px 1px 0px;
        color: #696969;

        a {
            color: #696969;
            img {
                border: none;
            }
        }

        a:visited {
            color: #696969;
        }

        a:hover {
            color: #333;
        }

        .actions { float: left; }
        .userbox {
           text-align: right;
           height: 25px;
        }
        .divider {
           color: lightgray;
           margin: 0 5px;
        }

        .search {
            display: inline-block;
            margin: 0 5px 0 2px;
            padding: 0;
            p {
                margin: 0;
                padding: 0;
            }
            #q {
                border: 1px solid #aaa;
                padding: 2px;
            }
            .submit {
                display: none;
            }
        }
    }

    /* Diff */
    .diff {
        font-family: monospace;
        div {
            background-color: #F8F8FF;
            margin: 0.5em 0;
            line-height: 1.5em;
            .deletion { background-color: #faa; }
            .addition { background-color: #afa; }
        }
        .deletion { background-color: #fdd; }
        .addition { background-color: #dfd; }
    }

    /* Forms */
    input[type="checkbox"], input[type="submit"] {
        cursor: pointer;
        cursor: hand;
    }

    /* Buttons */
    .button {
        margin: 0 10px;
        a {
            background-repeat: no-repeat;
            background-position: left center;
            line-height: 25px;
            vertical-align: bottom;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }

        &.action a {
            padding-left: 22px;
        }
        &.action.edit a { background-image: url('/images/icons/edit.png') }
        &.action.history a { background-image: url('/images/icons/history.png') }
    }

    /* Breadcrumbs */
    ol.breadcrumbs {
        padding: 0;
        overflow: hidden;
        li {
            list-style-type: none;
            float: left;
            padding-right: 0.5em;
            &:not(:last-child):after {
                content: " » ";
                padding-left: 0.5em;
            }
        }
    }

    /* Search */
    #q, .ui-autocomplete {
        width: 250px;
    }

    .match {
        font-weight: bold;
    }

    /* Autocomplete */
    .ui-autocomplete-loading { background: white url('/images/indicator.gif') right center no-repeat; }

    .ui-autocomplete {
        margin: 0;
        padding: 0;
        position: absolute;
        background-color: white;
        border-collapse: collapse;
        border: 1px solid #ccc;
        border-bottom: none;
        -webkit-box-shadow: rgba(0, 0, 0, 0.299219) 0px 3px 5px;
        background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#FCFCFC), to(#E8E8E8));
        border-radius: 5px;
        border: 1px solid whiteSmoke;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        li {
            margin: 0;
            padding: 0;
            list-style-type: none;
            -webkit-box-shadow: rgba(0, 0, 0, 0.199219) 0px 1px 1px;
            background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#FCFCFC), to(#f4f4f4));
            border-bottom: 1px solid #ccc;
            &:last-child {
                border: none;
            }
            a {
                -webkit-transition: background-color 0.4s linear;
                display: block;
                padding: 5px 10px;
                cursor: pointer;
                cursor: hand;
            }
        }
        .ui-state-hover {
            background-color: #ffc;
        }

        .path {
            font-size: 10px;
        }

        .description {
            font-size: 11px;
        }
    }
// }