body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    border-bottom: 1px solid #999;
    background-color: #f0f0f0;
    padding: 0 5px;
    margin-bottom: 0.5em;
    margin-top: 1.5em;
    font-weight: normal;
}

p.breadcrumb {
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #999;
}

h1 {
    margin-top: 1em;
}

/* Tree view structure class*/

.TreeView LI {
    padding: 0 0 0 18px;
    float: left;
    width: 100%;
    list-style: none;
    cursor: pointer;
}

.TreeView A {
    display: none;
    border: 1px solid #999;
    background-color: #f0f0f0;
}




