/* Main */

body {
    background: #fff url("/images/layouts/pewe/bg_gray.gif");
}

#pewe-holder {
  font: small Verdana,Sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6em;
  text-align: center;
}
#container {
  width: 980px;
  margin: 0 auto;
  text-align: left;
  border: solid #bbb;
  border-width: 0 1px;
  background-color: #eee;
}
#pewe-holder, #container, a.anchor, a.anchor:hover {
  color: #333;
}
#caption {
  background: #d5dfe5 url("/images/layouts/pewe/bg_nav_ltblue.gif") repeat-x;
  background-position: 0 -4px;
}
h1 {
  margin: 0;
  padding: 1.15em .6em .25em;
}
#caption p {
  margin: 0;
  padding: .25em .5em;
  text-align: right;
  font-size: .85em;
  line-height: normal;
}

/* Navigation */

#nav {
  background-color: #c9d7de;
  float: left;
  width: 100%;
  border: solid #bbb;
  border-width: 1px 0;
}
#nav ul {
  margin: 0;
  padding: 0 10px;
  list-style: none;
  font-size: 85%;
/*  text-transform: lowercase;*/
}
#nav li {
  float: left;
  margin: 0;
  padding: 0;
  background-image: none;
  line-height: normal;
  text-indent: 0;
}
#pewe-holder #nav a, #nav strong {
  display: block;
  padding: 4px 10px;
  border: solid #bbb;
  border-width: 0 1px 0 0;
  color: #333;
  text-decoration: none;
  white-space: nowrap;
}
/* Following rule allows entire region of link to to be
   clickable in IE/Win. Holly Hack explained here:
   http://www.positioniseverything.net/explorer/escape-floats.html */
* html #nav a {
  width: 1%;
}
#nav a:hover, #nav #current a:hover strong, #nav #current strong {
  background-color: #dce6ec;
  color: #933;
}
#nav #current a:hover strong, #nav #current strong {
  background-color: #b1c7d4;
  color: #333;
}
#nav #h {
  border-left-width: 1px;
}

/* Content */

#c2 {
  padding: 20px;
}

#pewe-holder a {
  color: #358;
  text-decoration: none;
  border-bottom: 1px dotted #469;
}

#pewe-holder a:visited {
  color: #677;
  border-color: #899;
}
#pewe-holder a:hover, #caption a:hover {
  color: #933;
  border-color: #b55;
  border-bottom-style: solid;
}
#caption a, h2, h3, h4, a.anchor {
  border-width: 0;
}
#caption a, h2, h3, h4 {
  color: #358;
}
h2 {
  margin: 1.25em 0;
  font-size: 1.5em;
}
h3 {
  margin: 1.05em 0;
  font-size: 1.15em;
}
h4 {
  margin: 1.05em 0;
  font-size: 1.05em;
}
a.more {
  font-weight: bold;
}
a.external, a.pdf, a.ppt {
  background-repeat: no-repeat;
  background-position: center right;
/*  display: inline-block;*/
  padding-right: 17px;
}
a.external {
  background-image: url("/images/layouts/pewe/link_external.gif");
}
a.pdf {
  background-image: url("/images/layouts/pewe/link_pdf.gif");
}
a.ppt {
  background-image: url("/images/layouts/pewe/link_ppt.gif");
}
dl {
  clear: both;
}
dt {
  margin-top: .5em;
  margin-left: 2em;
}
.news dt {
  font-weight: bold;
}
.email {
  color: #000;
  font-family: Courier,monospace;
}
.sep {
  color: #777;
  font-weight: bold;
}

#content ul {
  clear: both;
}

#content ul.publ {
	line-height: 1.25em;
}
#content ul.publ li {
	margin-bottom: 0.75em;
}

#content ul li {
  list-style-image: url("/images/layouts/pewe/bg_bullet.png");
}

ul#history {
  overflow: auto;
  border: solid #ddd;
  border-width: 1px 0;
  margin: 0;
  margin-bottom: 1em;
  padding: 4px 0;
}

ul#history li {
  list-style: none;
  float: left;
  margin: 0 .5em;
}

/* Footer */

#footer {
  clear: both;
  font-size: 85%;
  background: #ddd url("/images/layouts/pewe/bg_nav_ltgray.gif") repeat-x;
  background-position: 0 -4px;
  border: solid #bbb;
  border-width: 0 0 1px;
}
#footer p {
  margin: 0;
  padding: .85em 0;
  color: #777;
  text-align: center;
  line-height: 1.2em;
}

.center { text-align: center; }

/* Fixes footer containment bug in IE-Win (5 and 6)
   http://www.positioniseverything.net/explorer/escape-floats.html
   But IE5-Mac shouldn't see this \*/
* html #footer p {
  height: 1%;
}

img.left {
    clear: both;
    float: left;
    margin-right: 2em;
    margin-bottom: 2em;
}

#content h3 {
    clear: both;
}