<h1>Search results</h1>
<% @matches.each do |match| -%>
    <h2><%= link_to highlight(match.page.title, @query), page_path(match.page) %></h2>
    <%= render :partial => 'nodes/breadcrumbs', :object => match.page %>
    <p><%= highlight(excerpt(without_markdown(match.current_revision.body), @query).to_s, @query) %></p>
<% end %>
<%= will_paginate @matches %>