<h1>Search results</h1>
<% @matches.each do |match| -%>
    <h2><%= link_to highlight(match.page.title, @query), page_path(match.page.path) %></h2>
    <%= render :partial => 'shared/breadcrumbs', :object => match.page %>
    <p><%= highlight(@matches.excerpt_for(match.current_revision.body_without_markup), @query) %></p>
<% end %>
<%= will_paginate @matches %>