<textarea>
  var html = "<%= escape_javascript(render :partial => 'file', :object => @file) %>";
  var existing = $("#<%= dom_id(@file) %>");
  if(existing.length) {
    existing.replaceWith(html);
  } else {
    if($("#files p#no_files").length)
        $("#files p#no_files").replaceWith('<table><tbody>'+html+'</tbody></table>');
    else
        $("#files table").prepend(html);
  }
  $("#<%= dom_id(@file) %>").effect('highlight', {}, 5000);
</textarea>