<%= render :partial => 'shared/header' %>
<%= render :partial => 'shared/notice' %>

<div class="wrapper">
  <div class="holder" id="application">
    <%= yield %>
  </div>
</div>
<%= render :partial => 'shared/footer' %>
